// 主题名称
$theme-name: 'default';
// 主题背景颜色
$theme-bg-color: #ebf1f6;
// 头部菜单 底边框颜色
$theme-borderB-color: #e3e7e7;
// 头部导航条 背景
$theme-nav-bg-color: #fff;
// 侧边栏背景
$theme-aside-bg-color: #2f4050;
// 侧边栏字体颜色
$theme-aside-color: #fff;